@import 'styles/app';

@import 'styles/homepage';
@import 'styles/components';
@import 'styles/game';

body {
    margin: 0;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
