.homepage-container {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-image: url('assets/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        color: antiquewhite;
    }

    .create-room {
        font-size: 25px;
        background-color: saddlebrown;
        color: antiquewhite;
        text-align: center;
        border-radius: 4px;
        border: 1px solid brown;
        padding: 5px 20px;
        margin-top: 40px;
        cursor: pointer;
    }

    .join-room {
        font-size: 25px;
        background-color: olivedrab;
        color: antiquewhite;
        text-align: center;
        border-radius: 4px;
        border: 1px solid olivedrab;
        padding: 5px 20px;
        margin-top: 20px;
        cursor: pointer;
    }
}
