.return-to-menu {
    font-size: 25px;
    background-color: darkred;
    color: antiquewhite;
    text-align: center;
    border-radius: 4px;
    border: 1px solid brown;
    padding: 5px 20px;
    margin-top: 40px;
    cursor: pointer;
}
